# For fetching data from arXiv and Google Scholar
arxiv
scholarly

# For AI-based text embeddings and vector calculations
sentence-transformers
torch
numpy

# For rendering the HTML template
Jinja2

#For GitHub API communication
requests